<p>coursedetails works!</p>
<p>courses works!</p>
<app-header></app-header>
<table>
<tr>
    <th>Department</th>
    <th>Course Number</th>
    <th>Course Name</th>
    <th>Instructor</th>
    <th>Start Date</th>
    <th>Days</th>
    <!-- <th>Course Details</th> -->


</tr>
<tr *ngFor="let Course of myCourse">

    <td>{{Course.dept}}</td>
    <td>{{Course.courseNum}}</td>
    <td>{{Course.courseName}}</td>
    <td>{{Course.instructor}}</td>
    <td>{{Course.startDate}}</td>
    <td>{{Course.numDays}}</td>
    <!-- <td ><a href="/coursedetails.html?courseid={{myCourse.id}}">See Details</a></td> -->

</tr>

</table>
<button type="button" >Push me later</button>


