<p>header works!</p>
<nav class="navbar bg-primary navbar-expand-lg text-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" routerLink="/"><img src="assets/images/camaro.jpg" alt="Home Icon"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" aria-current="page"
                        routerLink="/todos">Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" aria-current="page"
                        routerLink="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" aria-current="page"
                        routerLink="/courses">Courses</a>
                </li>
            </ul>
        </div>
    </div>
</nav>